.ProfileInfo {
    padding: 20px 40px;
  }
  
.ProfileInfo-label{
  padding-right: 10px;
}

.ProfileInfo-value{
  font-weight: bold;
}

.ProfileInfo-prop {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    font-size: 18px
  }
